.Filter {
    display: flex;
    margin: 10px 0;
}

.Filter-search {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    font-size: 1.2rem;
    outline: none;
    border-radius: 5px;
}

.Filter-submit {
    margin-left: 10px;
    background-color: #0084cc;
    border-radius: 5px;
    width: 15%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    outline: none;
    cursor: pointer;
}